p 
{
    width:300px;
}
p:first-letter
{
    font-size:30px;
}
p:first-letter::selection
{
    background-color:deeppink;
    color:white;
}

p:first-line
{
    background-color: lightgray;
}
p:nth-child(2n+1)
{
    background-color:lightblue;
}
p:nth-child(2n)
{
    background-color:lightgreen;
}
p::selection
{
    background-color:deeppink;
    color:white;
}